<a href="https://colab.research.google.com/github/saurabh18102001/Python-Notes/blob/main/pythonNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# id() function is used to find the address of the variable. Here the addrees is assign according to the value not to the variable.
a =10
b =10
c =5
print(a,b,c)
print()
print(id(a),id(b),id(c))
# 139230425711120 , 139230425711120 , 139230425710960

10 10 5

139230425711120 139230425711120 139230425710960

In [1]:
#Operators in Python

a = 1
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)       #Expotents
print(a//b)      #floor division

21
-19
20
0.05
1
1
0

In [3]:
#Assignment Operators
a = 5
print(a)
a += 5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)

5
10
5
25
5.0

In [4]:
#comparision Operators

a = 5
b = 10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [5]:
#Logical Operators

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [6]:
#Membership Operators:  in , not in

a = 5
b = [1,2,3,4,5]
print(a in b)
print(a not in b)

True
False

In [7]:
#Identity Operators: is(==) , is not(!=)

a = 5
b = 5
print(a is b)
print(a is not b)

True
False

In [12]:
#Bitwise Operators : AND(&) , OR(|) , XOR(^)  works on the bit in 0 and 1 format

# AND 1 & 1 = 1  ||  1 & 0 = 0 || 0 & 1 = 0 || 0 & 0 = 0
# OR  1 | 1 = 1  ||  1 | 0 = 1 || 0 | 1 = 1 || 0 | 0 = 0
# XOR 1 ^ 1 = 0  ||  1 ^ 0 = 1 || 0 ^ 1 = 1 || 0 ^ 0 = 0


a = 12
print("Binary os a is:",bin(a))          #1100
b = 23
print("Binary os a is:",bin(b))          #10111
print("Bitwise AND is:",a & b)
print("Bitwise OR is:",a | b)
print("Bitwise XOR is:",a ^ b)

Binary os a is: 0b1100
Binary os a is: 0b10111
Bitwise AND is: 4
Bitwise OR is: 31
Bitwise XOR is: 27

In [18]:
#Data Types
# 1) Numeric:- Integers, Float, Complex Numbers
# 2) SequenceType :-String, List, Tuple
# 3) Set
# 4) Dictionary

# Mutable(Changeable) :- List, Set, Dictionary
# Immutable(Not Changeable) :- Int, Float, String, Tuple, Complex, Set

a = 10
print(type(a))
a = 10.5
print(type(a))
a = 10+5j
print(type(a))

s = "Hello"       #Single Line String
print(type(s))
s = '''Hello
Saurabh'''        #Multile Line String
print(type(s),s)
l = [1,2,3,4]
print(type(l))
t = (1,2,3,4)
print(type(t))

dic = {1:"One",2:"Two"}
print(type(dic))

sets = {1,2,3,4,4,5,1}
print(type(sets))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'> Hello
Saurabh
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [19]:
#Getting User Input :- input()

a = input("Enter the name")
print(a)

Enter the namesaurabh
saurabh

In [20]:
#Type casting : int(), float(), eval()
#eval() :- Handle int and float in type castings

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
print(a+b)
c = float(input("Enter the first number"))
d = float(input("Enter the second number"))
print(c+d)
e = eval(input("Enter the first number"))
f = eval(input("Enter the second number"))
print(e+f)

Enter the first number1
Enter the second number1
2
Enter the first number1
Enter the second number1
2.0
Enter the first number1
Enter the second number1.1
2.1

In [24]:
#Python Conditionals
# if statements
# if else statements
# if elif else statements
a = int(input("Enter the number"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter the number5
Odd

In [26]:
a = int(input("Enter the number"))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

Enter the number0
Zero