<a href="https://colab.research.google.com/github/saurabh18102001/Python-Notes/blob/main/pythonNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# id() function is used to find the address of the variable. Here the addrees is assign according to the value not to the variable.
a =10
b =10
c =5
print(a,b,c)
print()
print(id(a),id(b),id(c))
# 139230425711120 , 139230425711120 , 139230425710960

10 10 5

139230425711120 139230425711120 139230425710960

In [1]:
#Operators in Python

a = 1
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)       #Expotents
print(a//b)      #floor division

21
-19
20
0.05
1
1
0

In [3]:
#Assignment Operators
a = 5
print(a)
a += 5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)

5
10
5
25
5.0

In [4]:
#comparision Operators

a = 5
b = 10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [5]:
#Logical Operators

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [6]:
#Membership Operators:  in , not in

a = 5
b = [1,2,3,4,5]
print(a in b)
print(a not in b)

True
False

In [7]:
#Identity Operators: is(==) , is not(!=)

a = 5
b = 5
print(a is b)
print(a is not b)

True
False

In [12]:
#Bitwise Operators : AND(&) , OR(|) , XOR(^)  works on the bit in 0 and 1 format

# AND 1 & 1 = 1  ||  1 & 0 = 0 || 0 & 1 = 0 || 0 & 0 = 0
# OR  1 | 1 = 1  ||  1 | 0 = 1 || 0 | 1 = 1 || 0 | 0 = 0
# XOR 1 ^ 1 = 0  ||  1 ^ 0 = 1 || 0 ^ 1 = 1 || 0 ^ 0 = 0


a = 12
print("Binary os a is:",bin(a))          #1100
b = 23
print("Binary os a is:",bin(b))          #10111
print("Bitwise AND is:",a & b)
print("Bitwise OR is:",a | b)
print("Bitwise XOR is:",a ^ b)

Binary os a is: 0b1100
Binary os a is: 0b10111
Bitwise AND is: 4
Bitwise OR is: 31
Bitwise XOR is: 27

In [18]:
#Data Types
# 1) Numeric:- Integers, Float, Complex Numbers
# 2) SequenceType :-String, List, Tuple
# 3) Set
# 4) Dictionary

# Mutable(Changeable) :- List, Set, Dictionary
# Immutable(Not Changeable) :- Int, Float, String, Tuple, Complex, Set

a = 10
print(type(a))
a = 10.5
print(type(a))
a = 10+5j
print(type(a))

s = "Hello"       #Single Line String
print(type(s))
s = '''Hello
Saurabh'''        #Multile Line String
print(type(s),s)
l = [1,2,3,4]
print(type(l))
t = (1,2,3,4)
print(type(t))

dic = {1:"One",2:"Two"}
print(type(dic))

sets = {1,2,3,4,4,5,1}
print(type(sets))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'> Hello
Saurabh
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [19]:
#Getting User Input :- input()

a = input("Enter the name")
print(a)

Enter the namesaurabh
saurabh

In [20]:
#Type casting : int(), float(), eval()
#eval() :- Handle int and float in type castings

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
print(a+b)
c = float(input("Enter the first number"))
d = float(input("Enter the second number"))
print(c+d)
e = eval(input("Enter the first number"))
f = eval(input("Enter the second number"))
print(e+f)

Enter the first number1
Enter the second number1
2
Enter the first number1
Enter the second number1
2.0
Enter the first number1
Enter the second number1.1
2.1

In [24]:
#Python Conditionals
# if statements
# if else statements
# if elif else statements
a = int(input("Enter the number"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter the number5
Odd

In [26]:
a = int(input("Enter the number"))
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

Enter the number0
Zero

In [4]:
#for loop with range(start, condition, increment) function
for i in range(0,5):
    print(i)
print()
for i in range(10,1,-1):
    print(i)

0
1
2
3
4

10
9
8
7
6
5
4
3
2

In [7]:
#while loop in python
#start condition increment
a =1
while(a<=10):
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [11]:
#string
# 0  1  2  3  4
# H  E  L  L  O
#-1 -2 -3 -4 -5

s = "Hello"
print(s[0])
print(s[-1])
print(s[1:4])
print(s)
print(s[::-1])
print(s[1:5:2])

H
o
ell
Hello
olleH
el

In [16]:
#string iteation
a = "hello"
for i in a[::-1]:
  print(i)
print()
for i in a:
  print(i)

o
l
l
e
h

h
e
l
l
o

In [25]:
#string function
#lower(), upper(), title(), captiliaze(), find(), index(), isalpha(), isdigit(), isalnum()
s = "HelloSaurabh"
print(s.lower())
print(s.upper())
print(s.title())
print(s.capitalize())
print()
print(s.find("au"))     #it is used to find the character at which index
print(s.index("a"))     #it is also used to find the index number of the character the only diff is b/w find() and index() is index() will give the error if the string is not present and find() will give -1
print(s.isalpha())      #it check whether the string is only alphabet or number if alphabet return true or return false . For space also it is given false.
print(s.isdigit())      #it check whether the number is number or not
print(s.isalnum())      #it has the combination of alphabet and number but return false if it has special characters. If has space than it give false.

hellosaurabh
HELLOSAURABH
Hellosaurabh
Hellosaurabh

6
6
True
False
True

In [29]:
#format()

a = "saurabh"
b =23
print("My name is {} and my age is {}".format(a,b))
print()
print("My name is {} and my age is {}".format(b,a))
print()
f = f"My name is {a} and my age is {b}"
print(f)

My name is saurabh and my age is 23

My name is 23 and my age is saurabh

My name is saurabh and my age is 23

In [2]:
#List :- Mutable

a = [1,2,3,4,5,6]
print(a)
print(a[0])
print(a[-1])
print(a[1:4])
print(a[::-1])
print(a[1:5:2])

[1, 2, 3, 4, 5, 6]
1
6
[2, 3, 4]
[6, 5, 4, 3, 2, 1]
[2, 4]

In [5]:
#list iteration

a = [1,2,3,4,5,[11,12,13],6]
for i in a:
  print(i)

1
2
3
4
5
[11, 12, 13]
6

In [8]:
for i in range(len(a)):
  print(a[i])
print()
for i in a:
  if type(i)==list:
    for j in i:
      print(j)

1
2
3
4
5
[11, 12, 13]
6

11
12
13

In [14]:
a  = [1,2,3,4,5,6]
for i in range(len(a),0,-1):
  print(i)

6
5
4
3
2
1

In [17]:
#List Function
# del(), pop(), remove(), clear()

l = [1,2,3,4,5,6,7,8,9]
del(l[0])                       #del(list[index])
print("delete:",l)
l.pop()                         #list.pop(index) if it is blank than last number will be delete otherwise specific number will be delete
print("pop:",l)
l.remove(3)                     #list.remove(value)
print("remove:",l)
l.clear()                       #list.clear()
print("clear:",l)

delete: [2, 3, 4, 5, 6, 7, 8, 9]
pop: [2, 3, 4, 5, 6, 7, 8]
remove: [2, 4, 5, 6, 7, 8]
clear: []
[]

In [18]:
a = [12,3,4,5,6,7]
a[0] = 1
print(a)

[1, 3, 4, 5, 6, 7]

In [22]:
#insert(), append(), extend()

a.insert(0,10)         #list.insert(index,value)
print(a)
a.append(11)            #list.append(value)
print(a)
b = [12,13,14]          #list.extend(value)
a.extend(b)
print(a)

[10, 10, 10, 1, 3, 4, 5, 6, 7, 11, 12, 13, 14]
[10, 10, 10, 1, 3, 4, 5, 6, 7, 11, 12, 13, 14, 11]
[10, 10, 10, 1, 3, 4, 5, 6, 7, 11, 12, 13, 14, 11, 12, 13, 14]

In [23]:
a = []
for i in range(1,101):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [24]:
#list comprehension :- used to sort the syntax of list to save the line of code

# syntax:- [expression for items in list]

x = [i for i in range(1,101)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [25]:
x = [i for i in range(1,101) if i%2==0]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [42]:
print(x.count(10))
print(max(x))
print(min(x))
x.sort()
print(x)
x.reverse()
print(x)
print(x.index(58))

1
100
2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
21

In [43]:
#zip functions

l = [1,2,3,4,5]
s = ["One","Two","Three","Four","Five"]
print(list(zip(l,s)))

[(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four'), (5, 'Five')]

In [48]:
#with zip function:
l = [1,2,3,4,5]
m = [11,12,13,14,15]
for i,j in zip(l,m):
  print(i,j)
print()
#without zip function

for i in range(len(l)):
  print(l[i],m[i])

1 11
2 12
3 13
4 14
5 15

1 11
2 12
3 13
4 14
5 15

In [49]:
#program to convert string into list

l = input("Enter the value")
print(list(l))

Enter the valuemy name is
['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's']

In [50]:
l = input("Enter the value")
print(l.split())

Enter the valuemy name is
['my', 'name', 'is']

In [58]:
#multiple input

x = []
for a in range(1,5):
   n = input("Enter the value"+str(a)+":-")
  #  a=n.split()
   x.append(a)
print(x)

Enter the value1:-my name is saurabh pal
Enter the value2:-i am iconic person
Enter the value3:-i am in the top 5 richest person in the world
Enter the value4:-i am fond of sports car
[['my', 'name', 'is', 'saurabh', 'pal'], ['i', 'am', 'iconic', 'person'], ['i', 'am', 'in', 'the', 'top', '5', 'richest', 'person', 'in', 'the', 'world'], ['i', 'am', 'fond', 'of', 'sports', 'car']]

In [60]:
x = []
for a in range(1,5):
   n = input("Enter the value"+str(a)+":-")
   # a=n.split()
   x.append(n)
print(x)

Enter the value1:-my name is saurabh pal
Enter the value2:-i am in the top 5 richest person in the world
Enter the value3:-i am iconic person
Enter the value4:-i am fond of sports car
['my name is saurabh pal', 'i am in the top 5 richest person in the world', 'i am iconic person', 'i am fond of sports car']

In [3]:
#implement a stack using a list data type

#stack is a linear data structure  LIFO or FILO
#stack operations : push:- insert an elements ,pop:- delete last elemet ,peek:- display the last elemet ,display:- display list

l = []
while True:
  c = int(input('''
  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  '''))
  if c==1:
    n = int(input("Enter the value"))
    l.append(n)
    print(l)
  elif c==2:
    if len(l)==0:
      print("List is empty")
    else:
      p =l.pop()
      print("Pop element is :",p)
      print(l)
  elif c==3:
    if len(l)==0:
      print("List is empty")
    else:
      print("Last stack value",l[-1])
  elif c==4:
    print("Display stack",l)
  elif c==5:
    break
  else:
    print("Invalid Choice")

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  1
Enter the value20
[20]

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  1
Enter the value30
[20, 30]

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  40
Invalid Choice

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  1
Enter the value40
[20, 30, 40]

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  2
Pop element is : 40
[20, 30]

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  4
Display stack [20, 30]

  1.Push Elements
  2.Pop Elements
  3.Peek Elements
  4.Display Elements
  5.Exit
  5

In [4]:
#implement a queqe using a list data type

#it is linear structure , FIFO
#Queue operations : Enqueque:- Add an item to the queque ,Dequeque:- Remove an item ,Front:- get the front item ,Rear:- get the last item

l = []
while True:
  c = int(input('''
  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  '''))
  if c==1:
    n = int(input("Enter the value"))
    l.append(n)
    print(l)
  elif c==2:
    if len(l)==0:
      print("Queque is empty")
    else:
      del l[0]
      print(l)
  elif c==3:
    if len(l)==0:
      print("Queque is empty")
    else:
      print("First Queuqe value",l[0])
  elif c==4:
    if len(l)==0:
      print("Queque is empty")
    else:
      print("Last Queuqe value",l[-1])
  elif c==5:
    print("Display Queque",l)
  elif c==6:
    break
  else:
    print("Invalid Choice")

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  1
Enter the value10
[10]

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  1
Enter the value20
[10, 20]

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  1
Enter the value30
[10, 20, 30]

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  2
[20, 30]

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  3
First Queuqe value 20

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  4
Last Queuqe value 30

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  5
Display Queque [20, 30]

  1.Push Elements
  2.Pop Elements
  3.Front Elements
  4.Last Elements
  5.Display Elements
  6.Exit
  6

In [12]:
#Dictionary : unordered data type, key: value pair , {} , mutable , key cant be use again but value can be repeat again

dic = {
    "name":"Saurabh",
    "age":23,
    "city":"Pune",
    "state":"Maharashtra"
}

#functions in dic get(), keys(), values(), items()

print(dic["name"])
print(dic.get("name"))
print(dic.keys())
print(dic.values())
print(dic.items())

{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra'}
Saurabh
Saurabh
dict_keys(['name', 'age', 'city', 'state'])
dict_values(['Saurabh', 23, 'Pune', 'Maharashtra'])
dict_items([('name', 'Saurabh'), ('age', 23), ('city', 'Pune'), ('state', 'Maharashtra')])

In [14]:
# del and pop function in dic
dic = {
    "name":"Saurabh",
    "age":23,
    "city":"Pune",
    "state":"Maharashtra",
    "country": "India",
    "planet" : "Earth"
}
print(dic)
del dic["planet"]
print(dic)
dic.pop("country")
print(dic)

{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra', 'country': 'India', 'planet': 'Earth'}
{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra', 'country': 'India'}
{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra'}

In [17]:
#update in dic

dic = {
    "name":"Saurabh",
    "age":23,
    "city":"Pune",
    "state":"Maharashtra",
    "country": "India",
    "planet" : "Earth"
}
print(dic)
dic.update({"name":"Saurabh Pal"})
print(dic)
print(dic.clear())

{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra', 'country': 'India', 'planet': 'Earth'}
{'name': 'Saurabh Pal', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra', 'country': 'India', 'planet': 'Earth'}
None

In [20]:
# insert in dic

dic = {
    "name":"Saurabh",
    "age":23,
    "city":"Pune",
    "state":"Maharashtra"
}
print(dic)
dic["country"]="India"
print(dic)

{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra'}
{'name': 'Saurabh', 'age': 23, 'city': 'Pune', 'state': 'Maharashtra', 'country': 'India'}

In [10]:
dic = {
    "name":"Saurabh",
    "age":23,
    "city":"Pune",
    "state":"Maharashtra"
}

for i in dic:
  print(i," : ",dic[i])

name  :  Saurabh
age  :  23
city  :  Pune
state  :  Maharashtra

In [23]:
#nested dictionary

course = {
    "php": {"duration":1,"months":6,"fees":16000},
    "java": {"duration":2,"months":5,"fees":4000},
    "python": {"duration":3,"months":4,"fees":3000},
    "c": {"duration":4,"months":3,"fees":2000},
    "c++": {"duration":25,"months":2,"fees":1000}
}
print(course)
print(course["php"])
print(course["php"]["fees"])

{'php': {'duration': 1, 'months': 6, 'fees': 16000}, 'java': {'duration': 2, 'months': 5, 'fees': 4000}, 'python': {'duration': 3, 'months': 4, 'fees': 3000}, 'c': {'duration': 4, 'months': 3, 'fees': 2000}, 'c++': {'duration': 25, 'months': 2, 'fees': 1000}}
{'duration': 1, 'months': 6, 'fees': 16000}
16000

In [24]:
course = {
    "php": {"duration":1,"months":6,"fees":16000},
    "java": {"duration":2,"months":5,"fees":4000},
    "python": {"duration":3,"months":4,"fees":3000},
    "c": {"duration":4,"months":3,"fees":2000},
    "c++": {"duration":25,"months":2,"fees":1000}
}

for i,j in course.items():
  print(i," : ",j)

php  :  {'duration': 1, 'months': 6, 'fees': 16000}
java  :  {'duration': 2, 'months': 5, 'fees': 4000}
python  :  {'duration': 3, 'months': 4, 'fees': 3000}
c  :  {'duration': 4, 'months': 3, 'fees': 2000}
c++  :  {'duration': 25, 'months': 2, 'fees': 1000}

In [27]:
#Tuple:  immutable, ordered data type, ()

t= (1,2,3,4,5,6,7,8,9,10)
print(t)
print(t[0])
print(t[-1])
print(t[1:4])
print(t[::-1])
print(t[1:5:2])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1
10
(2, 3, 4)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(2, 4)

In [30]:
#tuple functions:  min(), max(), count(), sum(), index()
t= (1,2,3,4,5,6,7,8,9,10)
print(min(t))
print(max(t))
print(t.count(1))
print(sum(t))
print(sum(t,10))
print(t.index(2))

1
10
1
55
65
1

In [40]:
#sets: unordered, unindexed,unique elements , we can insert and delete but can't change

s = {1,2,2,2,3,3,4,5,6,7,7,7,8,9}
print(s)
print()
for a in s:
  print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

1
2
3
4
5
6
7
8
9

In [45]:
# set function:  set(), add(), pop(), remove(), clear(), discard(), update()

l = [1,2,3,4]
print(set(l))
print()
s = {1,2,3,4,5,6,7,8}
print(s)
s.add(9)
print(s)
s.pop()
print(s)
s.remove(2)
print(s)
s.discard(9)
print(s)
s.clear()
print(s)

{1, 2, 3, 4}

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
set()

In [46]:
from ast import arguments
#Functions in python

# 1. simple function
# 2. function with arguments
# 3. function with return type

def add():
  a = 10
  b = 20
  c = a+b
  print(c)
add()

30

In [49]:
def add(a=1,b=1):
  c = a+b
  print(c)
add(10,20)
add()

30
2

In [58]:
def square(x):
  return x*x,x*2
print(square(10))

(100, 20)

In [63]:
#math module

import math as m

print(m.ceil(10.3))
print(m.floor(10.7))
print(m.fabs(-10))
print(m.factorial(5))
print(m.sqrt(25))
print(m.pow(2,3))
print(m.pi)
print(m.e)

11
10
10.0
120
5.0
8.0
3.141592653589793
2.718281828459045

In [67]:
#random module
import random
print(random.randint(1,100))
print(random.random())
print(random.choice([1,2,3,4,5,6,7,8,9]))
print(random.shuffle([1,2,3,4,5,6]))

35
0.6904666960428774
9
None

In [73]:
#Datetime module

import datetime
print(datetime.datetime.now())
print(datetime.datetime.now().year)
print(datetime.datetime.now().month)
print(datetime.datetime.now().day)
print(datetime.datetime.now().hour)
print(datetime.datetime.now().minute)
print(datetime.datetime.now().second)

2024-09-07 09:18:02.973880
2024
9
7
9
18
2

In [86]:
import random
import math

user = int(input("Enter your value:"))
comp = random.randrange(1,101)
print(comp)
if user>comp:
  print("User win")
elif user==comp:
  print("Draw")
else:
  print("Computer win")

Enter your value:88
53
User win

In [100]:
#Rock Paper Scissors

import random
l=["rock","paper","scissors"]

while True:
  ucount = 0
  ccount = 0
  uc = int(input('''
  Want to play.....
    1.Yes
    2.No
  '''))
  if uc==1:
    for a in range(1,6):
      userInput = int(input('''Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              '''))
      if userInput==1:
        userChoice = "rock"
      elif userInput==2:
        userChoice = "paper"
      elif userInput==3:
        userChoice = "scissors"
      else:
        print("Invalid Choice")
      comp_choice = random .choice(l)
      if comp_choice == userChoice:
        print("Computer choice",comp_choice)
        print("User choice",userChoice)
        print("Draw")
        ucount = ucount+1
        ccount = ccount+1
      elif (userChoice == "rock" and comp_choice == "scissors") or (userChoice == "paper" and comp_choice == "rock") or (userChoice == "scissors" and comp_choice == "paper"):
        print("Computer choice",comp_choice)
        print("User choice",userChoice)
        print("User win")
        ucount = ucount+1
      else:
        print("Computer choice",comp_choice)
        print("User choice",userChoice)
        print("Computer win")
        ccount = ccount+1
      print("User score",ucount)
      print("Computer score",ccount)
    print("The final resul is: ")
    if(ccount>ucount):
      print("Computer win the game")
    elif(ucount>ccount):
      print("User win the game")
    else:
      print("Draw")



  elif uc==2:
    break
  else:
    print("Invalid Choice")

  Want to play.....
    1.Yes
    2.No
  1
Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              1
Computer choice rock
User choice rock
Draw
User score 1
Computer score 1
Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              1
Computer choice paper
User choice rock
Computer win
User score 1
Computer score 2
Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              1
Computer choice rock
User choice rock
Draw
User score 2
Computer score 3
Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              1
Computer choice scissors
User choice rock
User win
User score 3
Computer score 3
Please choose the item...
                                  1.Rock
                                  2.Paper
                                  3.Scissors
              1
Computer choice paper
User choice rock
Computer win
User score 3
Computer score 4
The final resul is:
Computer win the game

  Want to play.....
    1.Yes
    2.No
  2

In [101]:
#JSON Python
# communication b/w browser and server
#JSON is text , written with JS Object Notation
#JSON supports data types :- string, number, boolean, null, object, array


import json
p = '{"java":"abc","lang":["xyz","sdf"]}'